body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 186px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}
.options-panel .input label {
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
  margin-right: 10%;
  color: #5a666d;
  margin-bottom: 4px;
}
label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20;
}

.controlPanelIcon {
  width: 18px;
  height: 18px;
  margin-left: 11px;
  margin-bottom: 1px;
  margin-right: -7px;
  vertical-align: middle;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.mapboxgl-popup-content{
  padding:0;
}

@media only screen and (max-width: 480px) {
  .mapboxgl-popup-content {
      max-width: 250px;
      position:absolute; 
      top:0;
      bottom:0;
  }
}